<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/template/header')%>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo mr-auto"><a href="index.html">Arsha</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo mr-auto"><img src="/images/it_corner.png" alt="" class="img-fluid"></a>

    <%- include('partials/template/navbar')%>

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>“The best way to follow your team overseas is to actually see what they're doing...”</h1>
          <div class="d-lg-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/images/icon.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
           <a href="https://cpanel.net"><img src="/images/partner/cpanel_logo.png" class="img-fluid" alt=""style="
            max-width: 90%;
        "></a> 
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="http://domain.itcorneronline.com/digital-certificate"><img src="/images/partner/Comodo.png" class="img-fluid" alt="" style="
            max-width: 90%;
        "></a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="http://domain.itcorneronline.com/codeguard.php"></a><img src="/images/partner/codeguard.png" class="img-fluid" alt="" style="
            max-width: 90%;
        ">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="https://www.digicert.com"><img src="/images/partner/digicert_logo.png" class="img-fluid" alt="" style="
            max-width: 90%;
        "></a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="https://europacbank.com/"><img src="/images/partner/euro_pasific_bank.png" class="img-fluid" alt="" style="
            max-width: 90%;
        "></a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="https://www.hsbc.com"><img src="/images/partner/HSBC.png" class="img-fluid" alt="" style="
            max-width: 90%;
        "></a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="https://www.microsoft.com/en-us"><img src="/images/partner/microsoft.png" class="img-fluid" alt="" style="
            max-width: 90%;
        "></a>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="https://www.oracle.com/index.html"><img src="/images/partner/oracle.png" class="img-fluid" alt="" style="
            max-width: 90%;
        "></a>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="https://pcidss.com"><img src="/images/partner/PCIDSS.png" class="img-fluid" alt="" style="
            max-width: 90%;
        "></a>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="https://www.plesk.com"><img src="/images/partner/plesk.png" class="img-fluid" alt="" style="
            max-width: 62%;
        "></a>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="http://domain.itcorneronline.com/sitelock.php"><img src="/images/partner/sitelock.png" class="img-fluid" alt="" style="
            max-width: 90%;
        "></a>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="http://domain.itcorneronline.com"><img src="/images/partner/verisign.png" class="img-fluid" alt="" style="
            max-width: 90%;
        "></a>
          </div>
          




        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              
              ITCORNER Founded in Dhaka, Bangladesh in 2009, in 2018 it Registered on UK company house as a Limited company, Company registration number: 11189734. ITCorner Limited has Development/Support Centers in Bangladesh (Dhaka). IT Corner, with its phenomenal technical work force and global alliances. We provide services on Open Source in different formats ranging from Outsourcing, Consultancy & Pilot projects, Migration & Porting, Software development, Training, to Remote management and many more
            </p>
            
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <P>With new stacks and services in Enterprise Resource Planning and E-commerce IT Corner reiterates its commitment to offer the best to client with motto “Quality & Timely Delivery” to the full satisfaction of client. As a leading IT company, we are providing end to end solutions for Bank, Financial Institute, Brokers and Telecom Industry. We bring to you a team of talented individuals dedicated to creativity, service and efficiency. We are purely devoted to bringing clients noticeable transformations in their operational efficiency and we strive to provide inventive end-to-end IT solutions which are unsurpassed in value and quality. We look forward to demonstrating the exceptional skills and initiatives this country has to offer.</P>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
     <!-- ======= Services Section ======= -->
     <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>IT Corner Limited is an IT development company. We provide IT Services and Solutions like any kind of web/app development, domain and hosting services etc. also we do provide some Business Consultency services.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="material-icons white-text">layers</i></div>
              <h4><a href="">Web Development</a></h4>
              <p>Website Development and every kind of CRM, CMS, ERP and other web based application development.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="material-icons white-text">web</i></div>
              <h4><a href="">App Development</a></h4>
              <p>All types of mobile (IOS, ANDROID, WINDOWS) and desktop (MAC, WINDOWS) application development.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="material-icons white-text">mouse</i></div>
              <h4><a href="">Web Hosting</a></h4>
              <p>VPS Hosting, Dedicated Server, Cloud Server, CDN and other Hosting Services available.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="material-icons white-text">insert_comment</i></div>
              <h4><a href="">Consultency</a></h4>
              <p>Company Formation help, Bank Account Opening, Merchant Account Opening and other consultency.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

   
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Track employees’ time and screenshots. See it on the web.</h2>
          <p>Get a clear picture of time and money your remote or office team spends on each task.</p>
        </div>

        <div class="row"style="margin-top: 30px;">
          

          <div class="col-lg-12 pt-4 pt-lg-0 content animated" data-aos="fade-left" data-aos-delay="100" style="text-align: center;">
            
            
            <div class="animated fadeInUp">
              <div class="row">
                  <div class="col-lg-4">
                    <img src="assets/imge/t-app.png" style="width: 200px;height: 200px;border-radius: 50%;">
                    <h4 style="margin-top: 30px;"> Track effortlessly</h4>
                    <h6>with employee desktop application</h6>
                  </div>
                  <div class="col-lg-4">
                    <img src="assets/imge/t-app.png" style="width: 200px;height: 200px;border-radius: 50%;">
                    <h4 style="margin-top: 30px;"> See screenshots</h4>
                    <h6>and tracked time uploaded to the web</h6>
                  </div>
                  <div class="col-lg-4">
                    <img src="assets/imge/t-app.png" style="width: 200px;height: 200px;border-radius: 50%;">
                    <h4 style="margin-top: 30px;"> Get insights</h4>
                    <h6>with reports and timeline</h6>
                  </div>
                  <div class="col-lg-4"></div>
                 
                  <div class="col-lg-4" style="margin-top: 35px;">

                    <a href="#" class="btn btn-block btn-primary text-uppercase">Sign up for free!</a>
                </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    
 <!-- ======= work Section ======= -->
 <section id="works" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>How it works</h2>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#work-list-1">Manager invites employees <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="work-list-1" class="collapse show" data-parent=".faq-list">
            <p>
              After selecting a plan, a company manager invites employees to the company team. When employees accept the invitation, they can start tracking time and submitting their screenshots for that company.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#work-list-2" class="collapsed">Employee run desktop application <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="work-list-2" class="collapse" data-parent=".faq-list">
            <p>
              Employee install the ScreenshotMonitor desktop application    , Log In, select a project and press the Start button to start tracking time and screenshots for that project. Note that the application works perfectly even when offline. The data will automatically be uploaded to the web when the web connection is restored.
          </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#work-list-3" class="collapsed">Application tracks time and screenshots <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="work-list-3" class="collapse" data-parent=".faq-list">
            <p>
              The application starts tracking employee’s time and taking screenshots at random intervals until the Stop button is pressed. If Autostart option is selected, the program will start whenever employees start using their computers. The program will also automatically stop tracking if there is no activity. This may be useful for tracking in-office employees where full-time tracking is needed. Note: Employee will always be aware that the program is running on their computers. By design there is no way of running ScreenshotMonitor in stealth/spy mode.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#work-list-4" class="collapsed">Managers see it all on the web <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="work-list-4" class="collapse" data-parent=".faq-list">
            <p>
              The desktop application continuously sends time tracking data and screenshots to the web so managers can monitor their employees in real time. There is nothing for managers to install — they can see all the information online through screenshotmonitor.com. On the dashboard managers can see when and for how long each of their employees have worked, who is active at the moment and the latest screenshot.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="500">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#work-list-5" class="collapsed">Full details on the timeline <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="work-list-5" class="collapse" data-parent=".faq-list">
            <p>
              On employee's timeline you can see more details: how much time and money was spent on each project and each tasks, user activity level, applications that were running and websites visited along with the time spent on each. And of course all of the screenshots taken that day from employee's monitor at random intervals with frequency up to 30 per hour. Employee see the same information and can add time manually ("Offline time").
            </p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section><!-- End work Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Call To Action</h3>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>

        

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><a href="#"><img src="/images/portfolio/fxcrm-ForexCRM.jpg" class="img-fluid" alt=""></a></div>
            <div class="portfolio-info">
              <h4>FXCRM ForexCRM</h4>
              
              <a href="/images/portfolio/fxcrm-ForexCRM.jpg" data-gall="portfolioGallery" class="venobox preview-link" ><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><a href="#"><img src="/images/portfolio/arobinary-Binary-Option-Trading-Platform.jpg" class="img-fluid" alt=""></a></div>
            <div class="portfolio-info">
              <h4>ARO BINARY</h4>
              
              <a href="/images/portfolio/arobinary-Binary-Option-Trading-Platform.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><a href="#"><img src="/images/portfolio/etsy-clone-social-ecommerce.jpg" class="img-fluid" alt=""></a></div>
            <div class="portfolio-info">
              <h4>ETSY CLONE</h4>
              
              <a href="/images/portfolio/etsy-clone-social-ecommerce.jpg" data-gall="portfolioGallery" class="venobox preview-link" ><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><a href="#"><img src="/images/portfolio/paygetpro-PSP-Software.jpg" class="img-fluid" alt=""></a></div>
            <div class="portfolio-info">
              <h4>PAY GETPRO</h4>
              
              <a href="/images/portfolio/paygetpro-PSP-Software.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><a href="#"><img src="/images/portfolio/paywallet-emoney-software.jpg" class="img-fluid" alt=""></a></div>
            <div class="portfolio-info">
              <h4>PAY WALLET</h4>
              
              <a href="/images/portfolio/paywallet-emoney-software.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><a href="#"><img src="/images/portfolio/arotrader-forex-trading-platform.jpg" class="img-fluid" alt=""></a></div>
            <div class="portfolio-info">
              <h4>ARO TRADER</h4>
              
              
              <a href="/images/portfolio/arotrader-forex-trading-platform.jpg" data-gall="portfolioGallery" class="venobox preview-link" ><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
         
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="/images/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>********</h4>
                <span>Chief Executive Officer</span>
                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="/images/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>*********</h4>
                <span>Product Manager</span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="/images/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>******</h4>
                <span>CTO</span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="/images/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>*********</h4>
                <span>Accountant</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section class="inner-page signup-body faq section-bg " id="Pricing"style="margin: 0;">
      <div class="container "data-aos="fade-up">
        
          <div class="col-lg-12 mt-10 mt-lg-0 sign-form">
            <div class="row " >
                <div class="col-lg-12 mt-10 mt-lg-0 container-body" >
                    <h1 style="margin-top: 25px; margin-bottom: 25px">Company Plans & Pricing</h1>
                </div>
                <div class="col-lg-12 mt-10 mt-lg-0">
                  <p>These monthly plans are for Companies to track their employees or for freelancers to track their own time.
                  If you track your own time for other companies — you do not need a plan and do not have to pay — your company pays for you. Just ask your manager to send you an invitation email to their ScreenshotMonitor team to start tracking your time and screenshots for them.</p>
                </div> 
              <div class="col-lg-12">
                <section class="pricing py-5" style=" border-radius: 10px;margin-bottom: 18px;">
                  <div class="container">
                    <div class="row">
                      <!-- Free Tier -->
                      <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                          <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Professional</h5>
                            <h6 class="card-price text-center">$6<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>Time Tracking</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>Screenshot Monitoring</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>up to 30 screenshots per hour</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>screenshots stored for 1 year</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>Individual settings</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>Activity Level Tracking</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>App & URL tracking</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase">Upgrade </a>
                          </div>
                        </div>
                      </div>
                      <!-- Plus Tier -->
                      <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                          <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Standard</h5>
                            <h6 class="card-price text-center">$4<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                              
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>Time Tracking</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>Screenshot Monitoring</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>up to 6 screenshots per hour</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>screenshots stored for 3 months</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>Individual settings</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>Activity Level Tracking </li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                              </svg>App & URL tracking</li>
                              
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase">Upgrade</a>
                          </div>
                        </div>
                      </div>
                      <!-- Pro Tier -->
                      <div class="col-lg-4">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>Time Tracking</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>Screenshot Monitoring</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>3 screenshots per hour</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>screenshots stored for 2 weeks</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                              </svg>Individual settings</li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                              </svg>Activity Level Tracking </li>
                              <li><svg width="33px" style="margin-left: -31px;" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                              </svg>App & URL tracking</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase">Current plan</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              </div>

             

            </div>
                
                
            
          </div>
         
      </div>
  </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Do I need a plan? Do I have to pay? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  If you track your time for other companies – you do not need a plan and do not have to pay – your company pays for you.
                  If you are a company – you do need at least a free plan for others to track time for you. If you are a freelancer and want to track your own time for yourself (and maybe share it with some companies (observers) later) – you need at least a free company plan.
                  If you have a free plan, 3 or less team members (1 owner & 2 employees) and OK with other free plan limitations (see above) – you can keep it free forever.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">How does the 14-day free trial work? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  After the signup you get access to all the features in the Professional Plan for 14 days. After the trial you will be automatically downgraded to the Free plan unless you upgrade to one of the paid plans.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">For how many employees do I have to pay? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  You will be charged for all team members on your Team page except archived. Owners are free unless they track their own time. For example you have 6 people on your Team: 5 freelancers (1 of them archived) and yourself - you will be charged for 4 people assuming you do not track your own time.
                  The fees are prorated – if you add an employee for a week, then remove or archive them - you'll pay for that week only, not month. You are free to add or delete employees, archive or restore them any time as you see fit.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Is my data safe? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  We take security seriously. Our servers are hosted in a world class data center that is protected by biometric locks and 24-hour surveillance. We ensure that our application is always up to date with the latest security patches. All ScreenshotMonitor plans include SSL encryption on data transfer and access to keep your data safe.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">How long do you keep the data? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  The time and task notes are kept forever even on the free plan as long as your account is active.
                  However it depends on your plan how long the screenshot images are kept. For Professional plan, screenshots are kept for 1 year (after 3 months we retain every second screenshot). For Standard – 3 months. For Free plan – 2 weeks only.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="600">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-6" class="collapsed">Do you have any contracts or cancellation fees? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-6" class="collapse" data-parent=".faq-list">
                <p>
                  No. It Corner ScreenshotMonitor is a pay-as-you-go service. We do not have contracts or cancellation fees. You can cancel whenever you want paying only the balance you already owe.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="700">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-7" class="collapsed">Can I upgrade or downgrade anytime? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-7" class="collapse" data-parent=".faq-list">
                <p>
                  Yes. It Corner ScreenshotMonitor is a pay-as-you-go service and you can upgrade, downgrade or cancel at any time. Click on "My Account" link in your ScreenshotMonitor menu to change your plan.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="800">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-8" class="collapsed">What types of payment do you accept? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-8" class="collapse" data-parent=".faq-list">
                <p>
                  We accept Visa, Master card, Discover and American Express for automatic payments. You can also use PayPal, wire transfers or checks to add credit to your account.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="900">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-9" class="collapsed">Do you have more questions?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-9" class="collapse" data-parent=".faq-list">
                <p>
                  Please visit our <a href="#">Customer Support.</a>We have FAQ, knowledge base and you can ask your question there.
                </p>
               
                <p>Or just email us at <a href="#">contact@itcorners.com</a>  and we will be glad to answer all your questions.</p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Dhaka,Bangladesh,1220</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>
                  contact@itcorners.com
                </p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+01111100000</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <%- include('partials/template/footer') %>

</body>

</html>