<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/template/header')%>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo mr-auto"><a href="index.html">Arsha</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo mr-auto"><img src="/images/it_corner.png" alt="" class="img-fluid"></a>

    <%- include('partials/template/navbar')%>

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <section class="inner-page signup-body"  style="padding: 71px;">
    <div class="container">
      <div class="row " >
        <div class="col-lg-5 mt-5 mt-lg-0 d-flex align-items-stretch sign-form">
          <form action="/register_user" method="post" role="form" class="signup-form">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="name">Your Full Name</label>
                <input type="text" name="name" class="form-control" id="name"  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-12">
                <label for="name">Company or organization</label>
                <input type="text" class="form-control" name="company" id="company" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-12">
                <label for="name">Email</label>
                <input type="email" class="form-control" name="email"  id="email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-12">
                <label for="name">Password</label>
                <input type="password" class="form-control" name="password" id="password" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <input id="agree_terms" required="" type="checkbox"> <label for="agree_terms">I agree to <a target="_blank" href="/terms">terms &amp; conditions</a> and <a href="/privacy" target="_blank">privacy policy</a></label><label style="display:none!important" class="required">Required</label>
          </div>
          
            <div class="form-group col-md-12">
              <input class="btn btn-primary sign-btn" type="submit" value="Create" >
            </div>
            <div class="form-group col-md-12" style="font-size: small; text-align: center;">
              <span>Have a gift or promotional code?</span> <a href="#">Enter code</a>
            
          </div>
          </form>
        </div>

        <div class="col-sm-7 mt-5 mt-lg-0 " >
            <div class="row" style="margin-left: 50px; margin-top: 11%; "
            >
              <div col-sm-7>
                <h1>Try it Free for 14 days </h1>
                
              </div>
              <div class=" form-group col-lg-10 mt-5 mt-lg-0 extra-div" ></div>
              <div class="col-lg- mt-5 mt-lg-0 ">
                
              </div>
              <div class="col-lg-12">
                <img  src="/images/favicon.png" alt="" class="img-fluid col-3 img-sign">
                <span>
                  
                <p style="display: inline; font-size: small;">The best way to follow your team overseas is to actually see what they're doing.......</p>
                
              </span>
              
            </div>
            </div>    
        </div>
      </div>
    </div>
</section>

  <%- include('partials/template/footer') %>

</body>

</html>