<nav class="nav-menu d-none d-lg-block">
    <ul>
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Demo</a></li>
      <li><a href="#works">How it works</a></li>
      <li><a href="#Pricing">Pricing</a></li>
      <li><a href="#">Download</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/signin">Sign In</a></li>  
      <li><a href="#">Support</a></li>
      <li><a href="#">Blog</a></li>

    </ul>
  </nav><!-- .nav-menu -->