*{
    margin: 0;
    padding: 0;
}
.signup-body{
    background: #85c3f9; 
    
    padding: 71px 0;
}
.signup-form{
    margin-top: 11px;
}
.sign-form{
    margin-top: 4% !important;
    border-radius: 10px;
     background: white;
    border: 6px solid #CDD7DE;
}
.sign-btn{
    margin: auto;
    display: block;
    width: 200px;
}
.img-sign{
    border-radius: 50%;
    margin-top: 11px;
    height: 40px;
    width: 71px;
    margin-left: -31px;
}
.extra-div{
    height: 1px;
    background: rebeccapurple;
}

.header-sign{
    text-align: center;
    margin-top: 10px;
}
/* pricing */
section.pricing {
    background: #91AFDF;
    background: linear-gradient(to right, #91AFDF, #91AFDF);
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: #85C3F9;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  .container-body{
    background: #91afdf5e;text-align: center;
  }
  p{
    font-family: sans-serif;font-size: 0.9rem; margin-top: 21px;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }

  .credit-card{
    font-size: 12px; border-left: solid 1px #e5e5e5; padding: 10px 0 0 40px; height: 394px;
  }

  .wrapper{
  background-color: wheat;
  }
